/HelloShortly.KeyManagementSolutions/HelloShortly.KMM.RestApi/bin
/HelloShortly.KeyManagementSolutions/HelloShortly.KMM.RestApi/obj
/seq-data
/postgresql_master_data
/HelloShortly.UrlDistributerSolutions/HelloShortly.UrlDistributerRestApi/bin
/HelloShortly.UrlDistributerSolutions/HelloShortly.UrlDistributerRestApi/obj
/data
/dataSlave
/mongo-volume
